{% extends 'base_login.html' %}

{% block content %}

<div class="columns">
    <div class="column"></div>
    <div class="column">
        <div class="box">

            <form action="" method="post" text-alain>
                Ingresa usuario:
                <input type="text" class="input" name="usuario" id="" placeholder="Usuario">
                Ingresa tu contraseña:
                <input type="password" class="input" name="clave" id="" placeholder="Contraseña">
                <br>
                <br>
                <button type="submit" class="button is-success">Ingresar</button>
            </form>

        </div>
    </div>
    <div class="column"></div>
</div>


{% endblock %}